<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="businessObjects">
			<sectionGroup name="crystalReports">
				<section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="SiteUrl" value="http://urbanbanya.com/"/>
		<add key="AdminEmail" value="accounts@urbanbanya.com"/>
		<add key="BillMailData" value="smtpserver=relay-hosting.secureserver.net;Port=25;Authenticate=1;UserName=accounts@urbanbanya.com;ePassword=devlaxy1935;UseSSL=false;EmailFrom=accounts@urbanbanya.com;"/>
		<add key="RegisterMail" value="smtpserver=relay-hosting.secureserver.net;Port=25;Authenticate=1;UserName=cst@urbanbanya.com;ePassword=devlaxy1935;UseSSL=false;EmailFrom=cst@urbanbanya.com;"/>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>
	<connectionStrings>
		<remove name="mySQLconn"/>
		<add name="mySQLconn" connectionString="Data Source=localhost;Database=edava;User ID=root; Password=''" providerName="MySql.Data.MySqlClient"/>
		<!-- <add name="mySQLconn" connectionString="Server=198.71.225.64; Port=3306; Database=edava;User Id=edava; Pooling=True; Password=edava1234; Persist Security Info=True" providerName="MySql.Data.MySqlClient"/>-->
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<add assembly="DocumentFormat.OpenXml, Version=2.5.5631.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="WindowsBase, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
			<buildProviders>
				<add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
			</buildProviders>
		</compilation>
		<httpRuntime targetFramework="4.5"/>
		<customErrors mode="Off"/>
		<authorization>
			<allow users="*"/>
		</authorization>
		<securityPolicy>
			<trustLevel name="Full" policyFile="internal"/>
		</securityPolicy>
		<trust level="Full"/>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
	</system.web>
	<system.webServer>
		<handlers>
			<remove name="ScriptHandlerFactory"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
	</system.webServer>
	<businessObjects>
		<crystalReports>
			<rptBuildProvider>
				<add embedRptInResource="true"/>
			</rptBuildProvider>
		</crystalReports>
	</businessObjects>
</configuration>